header{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
img{
  max-width: 50px;
  max-height: 50px;
}
.logoAndName{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 5%;
}
.logoAndName h2{
  color: #ffffff;  
  font-weight: bold; 
  margin: 0;            
  line-height: 1;       
  display: flex;
  align-items: center;
}
nav {
  margin-top: 12px;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  letter-spacing: 0.4px;
  transition: color 0.3s ease;
}
nav a:hover,
nav a.active {
  color: #ff9900;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 5%;
}
.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  border-radius: 2px;
  transition: 0.3s ease;
}
.NavigationLinks.open {
  display: block;
  height:100vh;
}
@media (max-width: 768px) {
  .NavigationLinks {
    display: none;
    width: 100%;
    background: rgba(0,0,0,0.84);
    position: fixed;
    align-items: center;
    padding-top: 45%;
    right: 0;
    z-index: 1002;
    top: 0%;
    max-width: 230px;
  }
  .NavigationLinks.open {
    display: block;

    
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  nav a {
    margin: 12px 0;
    font-size: 1.1rem;

  }
  .hamburger {
    display: flex;

  }
  .hamburger.hidden {
  display: none;
}

}
@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}
